.card {
    position: relative;
}

.card img {
    width: 90%;
    display: block;

}

.card .front {
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
    background: rgba(14, 14, 14, 0.506);
    border-radius: 6px;

}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    background: aquamarine;
    border-radius: 50%;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0.2s;
}