.WarpCursor {
    z-index: 1000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
}