.About {
    background-color: var(--lightmain);
    color: var(--whiteaccent);
    border: 10px solid var(--whiteaccent);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 var(--darkaccent);
    width: 70%;
    min-width: 500px;
    height: 55vh;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
    padding: 1em;
    box-shadow: 0 0 25px #C724B1;
    display: flex;
    align-items: center;
}

.Credit {
    display: flex;
    flex-direction: column;
}
.Frame {
    display: flex;
    justify-content: space-between;
}

.avatarts img {
    max-width: 200px;
    max-height: 200px;
    
}
.avatarts {
    border: 4px inset  #C724B1;
    margin: 30px 2px 30px 2px;
    
}
.ourName{
    margin: 0;
    font-family: 'earth_orbiter_extra-boldbold';
    font-size: 20px;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}

.About h2 {
    font-family: 'mantiniaregular';
    font-size: 40px;
    color: #c89403;
    margin-top: 0;
    text-shadow:2px 2px black
    ;
}

.AboutHeader {
    font-family: 'azonixregular';
    font-size: 25px;
    /* margin-top: 10px; */
    
}

.AboutFooter{
    font-family: 'azonixregular';
    font-size: 15px;

}