@font-face {
    font-family: 'mantiniaregular';
    src: url('./fonts/mantinia_regular.woff') format('woff2'),
         url('./fonts/mantinia_regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.About {
    background-color: var(--lightmain);
    color: var(--whiteaccent);
    border: 10px solid var(--lightaccent);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 var(--darkaccent);
    width: 60%;
    min-width: 500px;
    height: 60vh;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    padding: 1em;
}

.Credit {
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.avatarts img {
    max-width: 200px;
    max-height: 300px;
    
}
.avatarts {
    border: 4px inset  #c89403;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.ourName{
    margin: 0;
    font-family: 'mantiniaregular';
    font-size: 30px;
    color: #c89403;
    text-shadow: 2px 2px black;
}

.About h2 {
    font-family: 'mantiniaregular';
    font-size: 40px;
    color: #c89403;
    margin-top: 0;
    text-shadow:2px 2px black
    ;
}

.AboutHeader {
    font-family: 'Courgette', cursive;
    font-size: 25px;
    
}

.AboutFooter{
    font-family: 'Courgette', cursive;
    font-size: 15px;

}