* {
    padding: 0;
    margin: 0;
/* display: flex;
flex-wrap: wrap; */

    
}

.game {
    /* background-image: url('../24008-george-roush-roush-dinosaurs-vs-aliens-comics-sci-fi-dinosaur-ufo-invasion-spaceship-spacecraft-aliens-creatures-monster-2.jpg'); */
    width: 80%;
    height: 80%;
    /* border: 1px solid rgb(113, 16, 16); */
}

.dino {
    /* border-radius: 50%; */
    display: flex;
    /* padding: 5px; */
    /* border-radius: 50%; */
    /* font-size: 30px; */
    min-width:400px;
    min-height: 400px;
    /* border-radius: 50%; */
    color: transparent;
   background: url('../../public/img/ezgif.com-gif-maker.gif');
   background-repeat: no-repeat;
   position: relative;
   top: 150px;
   left: 10px;
}

.character {
    position: relative;
    /* width: 25px;
    height: 25px; */
    top: 200px;
}
.character-animate {
    animation-name: jump;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        top: 400px;
    }
    30% {
        top: 10px;
    }
    70% {
        top: 10px;
    }
    100% {
        top: 100px;
    }
}

.block {
     display: flex;
    /* align-items: center; */
    /* padding: 5px;  */
    border-radius: 50%;
    /* min-width: 320px; */
    width:100px;
    height: 100px;
    /* border-radius: 50%; */
    color: transparent;
    background: url('../../public/img/smallgif.gif');
    background-repeat: no-repeat;
    
    position: relative; 
    top: 600px;
    left:1250px;
    
}

.block-animate {
    animation-name: block;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes block {
    0% {
        left: 900px;
    }
    100% {
        left: -40px;
    }
}


.divider {
    width: 25px;
    height: auto;
    display: inline-block;
}

.button {
    background-color: #d65731;
    border: none;
    color: rgb(246, 244, 244);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.timer {
    color: #4caf50;
    padding-left: 300px;
    padding-top: 15px;
}
