.Game {
    background-color: var(--darkmain);
    border: 10px solid var(--lightaccent);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 var(--darkaccent);
    width: 70%;
    min-width: 500px;
    height: 60vh;
    min-height: 500px;
    margin-left: 2em;
    margin-top: 1em;
}

