.Gameover {
    background-color: var(--darkmain);
    border: 10px solid var(--lightaccent);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 var(--darkaccent);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -200px;
    z-index: 10;
}

.Gameover h2 {
    color: var(--whiteaccent);   
}

.Gameover .Result {
    background-color: var(--lightaccent);
    border: 5px solid var(--lightaccent);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 var(--darkaccent);
    padding: 5px;
    color: var(--whiteaccent);
    background-color: var(--lightaccent);
    width: 50%;
    flex-wrap: wrap;
    text-align: center;
}

.Gameover input,span,button {
    margin: 1em;
}

.Gameover input {
    border-radius: 5px;
}

.Gameover button {
    /* border: 5px solid var(--lightaccent); */
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px 0 var(--darkaccent); */
    padding: 5px;
    color: var(--whiteaccent);
    background-color: var(--darkmain);
}