.Gameselect {
    background-color: var(--darkmain);
    border: 10px solid var(--whiteaccent);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 var(--darkaccent);
    width: 70%;
    min-width: 500px;
    height: 60vh;
    min-height: 500px;
    margin-left: 2em;
    margin-top: 4em;

    text-align: center;
    color: var(--whiteaccent);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 25px white;
}
#stationTitle {
    width: 350px;
    height: auto;
}
.select {
    margin-top: 0;
}
.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    color: aqua;
}
.SelectButton {
     width: 30%; 
    height: 35%;
    font-size: 18px;
    margin: 0 2em 1em 2em;
    position: relative;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 400;
    padding: 20px 30px;
    transition: 0.5s;
}
.SelectButton:hover{
    background: aqua;
    color: aqua;
    letter-spacing: 2px;
    box-shadow: 0 0 35px aqua;
    transition: 1s;
}

.SelectButton:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
    background: url('../../public/img/button.jpg') center/cover;
    

}
.SelectButton span {
    position: relative;
    z-index: 1;
}
.SelectButton i {
    position: absolute;
    inset: 0;
    display: block;
}
.SelectButton i::before{
    content: '';
    position: absolute;
    top: -25px;
    left: 90%;
    width: 35px;
    height: 35px;
    background: url('../../public/img/righttopastronauts.png') center/cover;
    transform: translateX(-50%);
    transition: 0.5s;
}

.SelectButton:hover i::before {
    width: 35px;
    left: 10%;
    background: url('../../public/img/lefttopastronauts.png') center/cover;
    transform: translateX(-50%);
}
.SelectButton i::after{
    content: '';
    position: absolute;
    bottom: -13px;
    left: 10%;
    width: 40px;
    height: 40px;
    background: url('../../public/img/leftbottomAstronauts.png') center/cover;
    transition: 0.5s;
    transform: translateX(-50%);
    border-radius: 50%;
}
.SelectButton:hover i::after {
    background: url('../../public/img/rightbottomAstronauts.png') center/cover;
    width: 40px;
    left: 90%;
}