:root {
    --darkmain: #12263A;
    --lightmain: #1C6087;
    --pagebackground: #090a0f;
    /* --pagebackground: #8ACDEA; */
    --whiteaccent: #F5EFED;
    --darkaccent: #5A1807;
    --lightaccent: #D98324;
}

/* html, body * {
    cursor: none;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: large;
    background-color: var(--pagebackground);
}

.btn {
    border: 5px solid var(--lightaccent);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 var(--darkaccent);
    padding: 5px;
    color: var(--whiteaccent);
    background-color: var(--lightaccent);
}

@media screen and (max-width: 480px){
    
}