@font-face {
    font-family: 'azonixregular';
    src: url('./fonts/azonix-webfont.woff2') format('woff2'),
         url('./fonts/azonix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cyberdyneregular';
    src: url('./fonts/cyberdyne-webfont.woff2') format('woff2'),
         url('./fonts/cyberdyne-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'earth_orbiter_extra-boldbold';
    src: url('./fonts/earthorbiterxtrabold-webfont.woff2') format('woff2'),
         url('./fonts/earthorbiterxtrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'space_ageregular';
    src: url('./fonts/space_age-webfont.woff2') format('woff2'),
         url('./fonts/space_age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mantiniaregular';
    src: url('./fonts/mantinia_regular.woff') format('woff2'),
         url('./fonts/mantinia_regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'star_jediregular';
    src: url('../style/fonts/starjedi-webfont.woff') format('woff2'),
         url('../style/fonts/starjedi-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --darkmain: #12263A;
    --lightmain: #1C6087;
    --pagebackground: #090a0f;
    /* --pagebackground: #8ACDEA; */
    --whiteaccent: #F5EFED;
    --darkaccent: #5A1807;
    --lightaccent: #D98324;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: large;
    background-color: var(--pagebackground);
}

.btn {
    border: 5px solid var(--lightaccent);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 var(--darkaccent);
    padding: 5px;
    color: var(--whiteaccent);
    background-color: var(--lightaccent);
}

@media screen and (max-width: 480px){
    
}