.Leaderboard {
    background-color: var(--lightmain);
    color: var(--whiteaccent);
    border: 10px solid var(--lightaccent);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 var(--darkaccent);
    width: 60%;
    min-width: 500px;
    height: auto;
    min-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    padding: 1em;
}

.Leaderboard h2 {

}

.Leaderboard table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: var(--darkmain);
}

.Leaderboard .ScoreHeader {
    border: 0px solid var(--lightaccent);
    border-radius: 10px;

}

.Leaderboard thead {
    background-color: var(--lightaccent);
}

.Leaderboard thead th {
    padding: 10px;
}

.Leaderboard tr {
    border-bottom: 1px solid var(--lightaccent);
}

.Leaderboard td {
    padding: 4px;
}