@font-face {
    font-family: 'star_jediregular';
    src: url('../style/fonts/starjedi-webfont.woff') format('woff2'),
         url('../style/fonts/starjedi-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Navigation {
    background-color: var(--darkmain);
    width: 100%;
    flex-basis: 100%;
    margin: 0;
    height: 10vh;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#navbarHome {
    /* color: var(--lightaccent); */
    color: transparent;
    margin-top: 10px;
    margin-left: 30px;
    height: 100px;
    font-size: 70px;
    font-family: 'star_jediregular';
    -webkit-text-stroke: 1px #fff;
    box-shadow: 0 0 50px aqua;
    background: rgba(0, 255, 255, 0.418);
    border-radius: 50px;
    text-decoration: none;
    /* overflow: hidden; */
    display: flex;
     flex-wrap: wrap;
     flex-direction: row
    ;
    
    /* overflow-wrap: break-word; */
}

.Navigation ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

#navbar1 {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    color: transparent;
    background: url('../../public/img/planet1.gif') center/cover;
}
#navbar2 {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    color: transparent;
    background: url('../../public/img/blackhole.gif') center/cover;
}


#navbar3 {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 30px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    color: transparent;

    background: url('../../public/img/planet2.gif') center/cover

}
#navbar1:hover{
    background: url('https://i.gifer.com/Bg2B.gif') center/cover;
    color: transparent;
    box-shadow: 0 0 35px aqua;
    transition: 2s;
}
#navbar2:hover{
    background: url('../../public/img/portal2.gif') center/cover;
    color: transparent;
    box-shadow: 0 0 35px #f000ff;
    transition: 2s;
}

#navbar3:hover{
    background: url('../../public/img/portal4.gif') center/cover;
    color: transparent;
    box-shadow: 0 0 35px #FE0000;
    transition: 2s;
}
