@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.player_container {
  width: 40%;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 20px;
  color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding-bottom: 0.5em;
  color: rgb(202, 202, 202);
}

.title {
  font-size: 10px;
  font-family: 'Russo One', sans-serif;
}


.controls {
  font-size: inherit;
  display: flex;
  align-items: center;
}

.btn_action {
  font-size: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
  background: url('./assets/img/NextBtn.gif') center/cover;
  border-radius: 50%;
  color: transparent;
  
}
#previousBtn{
  transform: rotate(180deg);
}
#previousBtn:hover{
  transform: rotate(0deg);
}
.PlayBtn {
  font-size: 2.5em;
  background: url('./assets/img/PlayBtn.gif') center/cover;
    border-radius: 50%;
    color: transparent;
  
}
.PlayBtn:hover, .btn_action:hover{
    color: rgb(255, 255, 255);
    background: url("./assets/img/audiosBtn.gif") center/cover;
    box-shadow: 0 0 10px white;
}
